<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10 flex flex-col gap-5">
        <div class="w-full flex justify-end">
            <a href="/logout" class="px-3 py-2 text-ms rounded-md bg-red-600 w-20 text-center mb-5 inline-block">Logout</a>
        </div>
        <h5 class="mb-5">helloo You can edit your post </h5> 
        <form action="/update/<%= post._id %>" method="post">
            <textarea name="content" placeholder="Edit your post " class=" p-3 outline-none w-1/3 resize-none block bg-transparent border-2 border-zinc-800 rounded-md"><%= post.content %></textarea>
            <input class="px-3 text-zinc-800 text-sm w-40 py-2 rounded-md bg-yellow-500 block mt-2 " type="submit" value="Update Post">
        </form>
        
    </div>
    <script src="/public/javascripts/script.js"></script>
</body>
</html>